### Mapping data types

- dict type 
- Key and Value Pairs
- if key repeat..ittakes the last value of that key.

In [9]:
d = { 'name':'Mahak', 
     'Country':'India', 
     'Temperature':'20'}
print(d)
print(d['name'])
print(type(d))
print(d.keys())
print(d.values())
print(len(d))

{'name': 'Mahak', 'Country': 'India', 'Temperature': '20'}
Mahak
<class 'dict'>
dict_keys(['name', 'Country', 'Temperature'])
dict_values(['Mahak', 'India', '20'])
3

In [12]:
d['name']='Kush'
d

{'name': 'Kush', 'Country': 'India', 'Temperature': '20'}

In [8]:
"name" in d

True

In [30]:
for i in d.values():
    print(i)
    
print('\r')
    
for i in d.keys():
    print(i)

print('\r')

for i in d.items():
    print(i)
    
print('\r')
    
for i,j in d.items():
    print(i,j)

Mahak
India
20

name
Country
Temperature

('name', 'Mahak')
('Country', 'India')
('Temperature', '20')

name Mahak
Country India
Temperature 20

#### Methods of dictionaries : 

- clear() : remove all the key-value pairs from dictioanry 
- copy()  : d2=d1.copy() : copy elements from d1 to d2
- fromkeys() : create a new dictionary with keys from sequence
- items() : if you want to iterate over dictionary and you want some key-values pairs
- keys() : you can extract all the keys from dicionary 
- values() : you can extract values from dictionaries
- update() : add elements from dictionary Y1 to X1(already created one) 
- pop(K,v) : it can remove certain Key and its values from the dictonary . It will return value also  . If that key is not found you ll get key error
- setdefault(k,v) : if key is not found , then you can create a default key value pair .

In [20]:
d.clear()
d

{}

In [24]:
d = { 'name':'Mahak', 
     'Country':'India', 
     'Temperature':'20'}
d1 = d.copy()
d1['name']='Kush'
d1

{'name': 'Kush', 'Country': 'India', 'Temperature': '20'}

In [25]:
d

{'name': 'Mahak', 'Country': 'India', 'Temperature': '20'}

In [ ]:
s=('Name','class','school')
y=100
di= dict.fromkeys(s,y)
di

In [48]:
import pandas as pd
df1=pd.DataFrame(
                {
                 'Name':['Vikas','Priya','Mehak'],
                 'Class':[9,10,11],
                 'Phone':[12,23,12]
                }
                )
df1

    Name  Class  Phone
0  Vikas      9     12
1  Priya     10     23
2  Mehak     11     12

In [55]:
df2 ={'Name':['Vikas','Priya','Mehak'],
      'Class':[9,10,11],
      'Phone':[12,23,12]
                }
df2.update({'Country':['Ind','UK','Spain']})
df2
pd.DataFrame(df2)

    Name  Class  Phone Country
0  Vikas      9     12     Ind
1  Priya     10     23      UK
2  Mehak     11     12   Spain

In [69]:
df2.pop('Phone')

KeyError: 'Phone'

In [70]:
df2

{'Name': ['Vikas', 'Priya', 'Mehak'],
 'Class': [9, 10, 11],
 'Country': ['Ind', 'UK', 'Spain']}

In [71]:
# create a program to get the dictionary from users and display it here.
x={}
print("Enter the total keys you want to create ??? ")
n=int(input())  # how many keys we want to create

for i in range(n):
    print("Enter the Key my child ")
    k=input()
    print("Enter its value now ")
    v=input()
    x.update({k:v})
    
print("final dicitonary is : " , x)

Enter the total keys you want to create ???
1
Enter the Key my child
name
Enter its value now
kush
final dicitonary is :  {'name': 'kush'}

dict.items() : when you iterate over key , value pairs
dict.iterrows() : iterate over rows as ( index , series)

In [72]:
for k,v in df2.items():
    print("Key is ==> ",k," Value is ",v)

Key is ==>  Name  Value is  ['Vikas', 'Priya', 'Mehak']
Key is ==>  Class  Value is  [9, 10, 11]
Key is ==>  Country  Value is  ['Ind', 'UK', 'Spain']

In [77]:
df3=pd.DataFrame(df2)

In [79]:
for k,v in df3.iterrows():
    print(k,v)

0 Name       Vikas
Class          9
Country      Ind
Name: 0, dtype: object
1 Name       Priya
Class         10
Country       UK
Name: 1, dtype: object
2 Name       Mehak
Class         11
Country    Spain
Name: 2, dtype: object

In [81]:
# SORTING ON DICTIONARY : 
cls={11:'Vikas',
    1:'priya',
    5:'mehak'}

cls

{11: 'Vikas', 1: 'priya', 5: 'mehak'}

In [82]:
sorted(cls.items(),key=lambda t:t[0])

[(1, 'priya'), (5, 'mehak'), (11, 'Vikas')]

In [83]:
# can you convert lists to dictionaries : ?
countries=['India','spain','England']
name=['Vikas','mehak','Priya']
z=zip(name,countries)
z=dict(z)
z

{'Vikas': 'India', 'mehak': 'spain', 'Priya': 'England'}