#### LIST DATATYPE 
- It represents group of elements 
- List can store multiple types of elements but array can only store one type of elements.
- Lists can grow dynamically in memory , but size of array is fixed and cant grow in run time.

In [11]:
list1 = [10,20,"Mahak",30,40]
print(list1)

[10, 20, 'Mahak', 30, 40]

In [12]:
list1 = list([10, 20, "Mahak", 30,40])
print(list1)

[10, 20, 'Mahak', 30, 40]

In [13]:
print(list1[0:3])
print(list1[-1])
list1[0]=100
print(list1)
print(list1*3) # multiply list* list = it Duplicates.

[10, 20, 'Mahak']
40
[100, 20, 'Mahak', 30, 40]
[100, 20, 'Mahak', 30, 40, 100, 20, 'Mahak', 30, 40, 100, 20, 'Mahak', 30, 40]

In [15]:
gfg_list=[8,1,7,10,5]
gfg_list[0]
gfg_list[0]=20
gfg_list

[20, 1, 7, 10, 5]

In [16]:
a = range(4,9,2)
list(a)

[4, 6, 8]

In [ ]:
# append : , update , delete elemetes from the lists

In [26]:
m = [10,20,30,40,50]
m1=[]  
for i in range (len(m)):
    print(m[i])
    m1.append(m[i])  
sum(m1)

10
20
30
40
50

150

In [32]:
list2 = [10,20,30,40,50]
list2.append(100)
list2

[10, 20, 30, 40, 50, 100]

In [35]:
# concatentaion of lists 
x=[10,12,123,123,23,212]
y=[123,234,111,1,0,222]
print(x+y)
print(x*2)

[10, 12, 123, 123, 23, 212, 123, 234, 111, 1, 0, 222]
[10, 12, 123, 123, 23, 212, 10, 12, 123, 123, 23, 212]

In [36]:
# Membership in lists 
x=[10,230,23,21]
a=23
print(a not in x)

False

In [38]:
# cloning of lists 
y=x
x[1]=99
print(x)
print(y)

[10, 99, 23, 21]
[10, 99, 23, 21]

In [42]:
x1=[10,230,23,21]
y=x1.copy()
x1[1]=5000
print(x1)
print(y)

[10, 5000, 23, 21]
[10, 230, 23, 21]

In [43]:
# x.sum()
# x.index(a)
# x.append(a) # i am appending a to x
# x.insert(i,a) # insert a in index of x
# x.copy()
# x.extend(list1) # appending list1 to X
# x.count() # number of occurences of element in the list 
# x.remove() # remove  x from list
# x.pop() # removes the ending element from the list
# x.sort()
# x.reverse() # reverse the sequences 
# x.clear() # delete all the elements

In [52]:
x1=[10,230,23,21]
y1=[20,30]
x1.extend(y1)
x1.sort()
x1

[10, 20, 21, 23, 30, 230]

In [53]:
x='123#456#098'
x=x.split('#')
x

['123', '456', '098']

In [54]:
# Finding biggest and smallest elements in list :
# find index of max and min values in a list : Questions : 
x1=[20,10,5,20,15]
print("max value is : " , max(x1))
print("min value is : " , min(x1))

max value is :  20
min value is :  5

In [61]:
x1.sort(reverse=False)
print(x1)
x1.reverse()
print(x1)
x1.clear()
print(x1)

[5, 10, 15, 20, 20]
[20, 20, 15, 10, 5]
[]

In [62]:
a = [30,10,20,30]
max_no = max(a)
for i in range (len(a)):
    if a[i]== max_no:
        print(a[i])
        print((a.index(max_no)))

30
0
30
0

In [69]:
# Nested lists
y1 = [10,20]
y2 = [30,40]
y1.append(y2)
print(y1)
y1[2][1]

[10, 20, [30, 40]]

40

#### LIST COMPRHENSIONS : 
- creation of lists from an iteratable object like list , set , dictionary or range

In [70]:
square=[]
for x in range(1,11):
    if x%2==0:
        square.append(x**2)
square

[4, 16, 36, 64, 100]

In [71]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [72]:
[ x for x in range(1,11) if x%2!=0]

[1, 3, 5, 7, 9]

In [75]:
n = [40,10,20,30,40,10]
[i for i in range (len(n)) if n[i]==max(n)]

[0, 4]