In [1]:
# create a dictionary :
d1={'Name':'priya',
    'id':23,
   'salary':1000000000}

print(type(d1))
print(d1)
print("Keys of dictionary are => ",d1.keys())
print("Values of dictionary are => ",d1.values())

<class 'dict'>
{'Name': 'priya', 'id': 23, 'salary': 1000000000}
Keys of dictionary are =>  dict_keys(['Name', 'id', 'salary'])
Values of dictionary are =>  dict_values(['priya', 23, 1000000000])

In [2]:
d1['Name']

'priya'

In [3]:
len(d1)

3

In [4]:
d1['Name']='Vikas'
d1

{'Name': 'Vikas', 'id': 23, 'salary': 1000000000}

In [5]:
'Name' not in d1

False

# Methods of dictionaries : 
- clear() : remove all the key-value pairs from dictioanry 
- copy()  : d2=d1.copy() : copy elements from d1 to d2
- fromkeys() : create a new dictionary with keys from sequence
- items() : if you want to iterate over dictionary and you want some key-values pairs
- keys() : you can extract all the keys from dicionary 
- values() : you can extract values from dictionaries
- update() : add elements from dictionary Y1 to X1(already created one) 
- pop(K,v) : it can remove certain Key and its values from the dictonary . It will return value also  . If that key is not found you ll get key error
- setdefault(k,v) : if key is not found , then you can create a default key value pair .

In [6]:
d1.clear()

In [7]:
d1

{}

In [8]:
d2=d1.copy()
d2

{}

In [21]:
s=('Name','class','school')
y=100
di= dict.fromkeys(s,y)
di

{'Name': 100, 'class': 100, 'school': 100}

In [17]:
di.items()

dict_items([])

In [22]:
for i,j in di.items():
    print(i , j)

Name 100
class 100
school 100

In [19]:
import pandas as pd

In [ ]:
df1=pd.DataFrame(
                {
                 'Name':['Vikas','Priya','Mehak'],
                 'Class':[9,10,11],
                 'Phone':[12,23,12]
                
                }
                
                )

In [ ]:
df1

In [23]:
df2={'Name':['Vikas','Priya','Mehak'],
                 'Class':[9,10,11],
                 'Phone':[12,23,12]
                
                }

In [24]:
for i,j in df2.items():
    print(i , j)

Name ['Vikas', 'Priya', 'Mehak']
Class [9, 10, 11]
Phone [12, 23, 12]

In [25]:
type(df2)

dict

In [43]:
df2.update({'Country':['Ind','UK','Spain']})

In [27]:
pd.DataFrame(df2)

    Name  Class  Phone Country
0  Vikas      9     12     Ind
1  Priya     10     23      UK
2  Mehak     11     12   Spain

In [28]:
df2

{'Name': ['Vikas', 'Priya', 'Mehak'],
 'Class': [9, 10, 11],
 'Phone': [12, 23, 12],
 'Country': ['Ind', 'UK', 'Spain']}

In [29]:
df2.setdefault('Name')

['Vikas', 'Priya', 'Mehak']

In [30]:
# create a program to get the dictionary from users and display it here.
x={}
print("Enter the total keys you want to create ??? ")
n=int(input())  # how many keys we want to create

for i in range(n):
    print("Enter the Key my child " , end='')
    k=input()
    print("Enter its value now ",end='')
    v=(input())
    x.update({k:v})
    
    
print("final dicitonary is : " , x)

Enter the total keys you want to create ???
5
Enter the Key my child name
Enter its value now mahak
Enter the Key my child age
Enter its value now 23
Enter the Key my child school
Enter its value now kkr
Enter the Key my child city
Enter its value now vlc
Enter the Key my child grade
Enter its value now 16
final dicitonary is :  {'name': 'mahak', 'age': '23', 'school': 'kkr', 'city': 'vlc', 'grade': '16'}

In [31]:
df2

{'Name': ['Vikas', 'Priya', 'Mehak'],
 'Class': [9, 10, 11],
 'Phone': [12, 23, 12],
 'Country': ['Ind', 'UK', 'Spain']}

dict.items() : when you iterate over key , value pairs
dict.iterrows() : iterate over rows as ( index , series)

In [32]:
for k,v in df2.items():
    print("Key is ==> ",k," Value is ",v)

Key is ==>  Name  Value is  ['Vikas', 'Priya', 'Mehak']
Key is ==>  Class  Value is  [9, 10, 11]
Key is ==>  Phone  Value is  [12, 23, 12]
Key is ==>  Country  Value is  ['Ind', 'UK', 'Spain']

In [33]:
df3=pd.DataFrame(df2)

In [34]:
for k,v in df3.iterrows():
    print(k,v)

0 Name       Vikas
Class          9
Phone         12
Country      Ind
Name: 0, dtype: object
1 Name       Priya
Class         10
Phone         23
Country       UK
Name: 1, dtype: object
2 Name       Mehak
Class         11
Phone         12
Country    Spain
Name: 2, dtype: object

In [35]:
# SORTING ON DICTIONARY : 
cls={11:'Vikas',
    1:'priya',
    5:'mehak'}

cls

{11: 'Vikas', 1: 'priya', 5: 'mehak'}

In [36]:
sorted(cls.items(),key=lambda t:t[0])

[(1, 'priya'), (5, 'mehak'), (11, 'Vikas')]

In [37]:
from collections import OrderedDict

In [38]:
cls1=OrderedDict(cls)
for i in cls1:
    print(i)

11
1
5

In [39]:
y=OrderedDict([('Vikas','India'),
              ('Mehak','Spain'),
              ('Priya','England')])

y

OrderedDict([('Vikas', 'India'), ('Mehak', 'Spain'), ('Priya', 'England')])

In [40]:
type(y)

collections.OrderedDict

In [41]:
for i in y:
    print(i)

Vikas
Mehak
Priya

In [42]:
# can you convert lists to dictionaries : ?
countries=['India','spain','England']
name=['Vikas','mehak','Priya']
z=zip(name,countries)
z=dict(z)
z

{'Vikas': 'India', 'mehak': 'spain', 'Priya': 'England'}